<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD config 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.dteam.mapper.admInquiryMapper">

	<select id="selectAllCnt" resultType="int">
		select count(*) from board b inner join member m on b.mno = m.mno where btype = "문의"
	</select>

	<select id="selectAll" parameterType="PagingVO" resultType="BoardVO">
		select *, (select count(*) from icmtReply i where i.bno=b.bno) as replyCnt
		 from board b inner join member m on b.mno = m.mno where btype = "문의" order by bno desc limit ${start-1},#{perPage}
	</select>
	
	<select id="selectboardofbno" parameterType="String" resultType="BoardVO">
		select * from board where bno = #{value}
	</select>
	
	<select id="selectprebno" parameterType="String" resultType="BoardVO">
	<![CDATA[
		select * from board where bno < #{value} and btype = "문의" order by bno desc limit 1
	]]>
	</select>
	
	<select id="selectnextbno" parameterType="String" resultType="BoardVO">
	<![CDATA[
		select * from board where bno > #{value} and btype = "문의" order by bno limit 1
	]]>
	</select>
	
	<select id="midtomno" parameterType="String" resultType="int">
		select mno from member where mid = #{value}
	</select>
	
	<select id="selectReplyBno" parameterType="String" resultType="IcmtReplyVO">
		select * from icmtReply where bno = #{value}
	</select>
	
	
	
	
	<delete id="deleteboard" parameterType="String">
		delete from board where bno = #{value}
	</delete>
	
	<delete id="deleteReply" parameterType="String">
		delete from icmtReply where icmtno = #{value}
	</delete>
	
	
	
	<insert id="updateReply" parameterType="IcmtReplyVO">
		insert into icmtReply(icmtContent, bno, mno) 
		values(#{icmtContent}, #{bno}, #{mno}) 
	</insert>
	
	
	
</mapper>