<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD config 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.dteam.mapper.admNoticeMapper">

	<select id="selectAllCnt" resultType="int">
		select count(*) from board b inner join member m on b.mno = m.mno where btype = "공지"
	</select>

	<select id="selectAll" parameterType="PagingVO" resultType="BoardVO">
		select * from board b inner join member m on b.mno = m.mno where btype = "공지" order by bno desc limit ${start-1},#{perPage}
	</select>
	
	<select id="selectboardofbno" parameterType="String" resultType="BoardVO">
		select * from board where bno = #{value}
	</select>
	
	<insert id="insertNotice" parameterType="BoardVO">
		insert into board(btitle,bcontent,btype,mno)
		values(#{btitle},#{bcontent},"공지",#{mno})
	</insert>
	
	<delete id="deleteboard" parameterType="String">
		delete from board where bno = #{value}
	</delete>
	
	<update id="updateNotice" parameterType="BoardVO">
		update board set btitle=#{btitle}, bcontent=#{bcontent} where bno= #{bno}
	</update>
	
</mapper>