<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD config 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.dteam.mapper.serviceCenterMapper">
	<select id="selectAllCnt" resultType="int">
		select count(*) from board b inner join member m on b.mno = m.mno where btype = "공지"
	</select>

	<select id="selectAll" parameterType="PagingVO" resultType="BoardVO">
		select * from board b inner join member m on b.mno = m.mno where btype = "공지" order by bno desc limit ${start-1},#{perPage}
	</select>
	
	
	<select id="selectAllCntInquiry" resultType="int">
		select count(*) from board b inner join member m on b.mno = m.mno where btype = "문의"
	</select>

	<select id="selectAllInquiry" parameterType="PagingVO" resultType="BoardVO">
		select *, (select count(*) from icmtReply i where i.bno=b.bno) as replyCnt
		 from board b inner join member m on b.mno = m.mno where btype = "문의" order by bno desc limit ${start-1},#{perPage}
	</select>
	
	
	
	
	<select id="selectboardofbno" parameterType="String" resultType="BoardVO">
		select * from board where bno = #{value}
	</select>
	
	<select id="selectprebno" parameterType="String" resultType="BoardVO">
	<![CDATA[
		select * from board where bno < #{value} and btype = "공지" order by bno desc limit 1
	]]>
	</select>
	
	<select id="selectnextbno" parameterType="String" resultType="BoardVO">
	<![CDATA[
		select * from board where bno > #{value} and btype = "공지" order by bno limit 1
	]]>
	</select>
	
	
	<select id="selectprebnoInquiry" parameterType="String" resultType="BoardVO">
	<![CDATA[
		select * from board where bno < #{value} and btype = "문의" order by bno desc limit 1
	]]>
	</select>
	
	<select id="selectnextbnoInquiry" parameterType="String" resultType="BoardVO">
	<![CDATA[
		select * from board where bno > #{value} and btype = "문의" order by bno limit 1
	]]>
	</select>
	
	
	<select id="selectReplyBno" parameterType="String" resultType="IcmtReplyVO">
		select * from icmtReply where bno = #{value}
	</select>
	
	<select id="midtomno" parameterType="String" resultType="int">
		select mno from member where mid = #{value}
	</select>
	
	<insert id="insertInquiry" parameterType="BoardVO">
		insert into board(btitle,bcontent,btype,mno)
		values(#{btitle},#{bcontent},"문의",#{mno})
	</insert>
	
</mapper>