<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD config 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.dteam.mapper.theaterMapper">
	<select id="selectAllTheater" parameterType="String" resultType="TheaterVO">
		select * from theater where tno = #{value}
	</select>
	
	<select id="selectScreenofTnoSday" parameterType="TheaterVO" resultType="ScreenVO">
		select * from screen sc where sday = #{sday} and sc.shallno in (select shallno from screenHall where tno = #{tno}) order by sstartTime
	</select>
	
	<select id="selectShallSeatofSno" parameterType="int" resultType="String">
		select shallSeat from screenHall sh where sh.shallno = (select shallno from screen sc where sno = #{sno});
	</select>
	
	<select id="selectfillSeatofSno" parameterType="int" resultType="int">
		select count(td.ticketno) from ticketDetail td inner join ticket tk on td.ticketno = tk.ticketno 
		where td.sno = (select sno from screen sc where sno = #{sno}) and tk.ticketDelyn = 0;
	</select>
	
	
	<select id="selectCinemaofCno" parameterType="int" resultType="CinemaVO">
		select * from cinema where cno = #{cno}
	</select>
	
	<select id="selectScreenHallofShallno" parameterType="int" resultType="ScreenHallVO">
		select * from screenHall where shallno = #{shallno}
	</select>
	
</mapper>